.places {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 984px;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 784px) {
  .places {
    max-width: 720px;
    padding-top: 88px;
    gap: 72px;
  }
}

@media screen and (max-width: 620px) {
  .places {
    width: 100%;
    padding-top: 72px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    padding-top: 64px;
    gap: 50px;
  }
}
