.lead__title {
  margin: 0 auto;
  width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen  and (max-width: 766px)  {
  .lead__title {
    font-size: 77px;
    line-height: 81px;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .lead__title {
    max-width: 288px;
    line-height: 44px;
    font-size: 40px;
  }
}
