.cover__title {
  position: relative;
  margin: 0;
  max-width: 560px;
  padding-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .cover__title {
    font-size: 52px;
    line-height: 56px;
    max-width: 288px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
